<div class="inicio">
    <footer>
        <div class="btncontrol">
            <a
              href=" https://github.com/deigoooo"
              class="btnm"
            ><i class="fa-brands fa-github"></i></a>
            <a
              href=" https://www.linkedin.com/in/diego-fernando-ramirez-866aa413a"
              class="btnm"
            ><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div class="centro">
            <p>Diego Fernando Ramirez ⓒ | Argentina Programa 2022</p>
            <p>Córdoba Argentina</p>
        </div>
        
    </footer>
</div>