@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin:0;
    padding: 0;
}

.inicio{
    font-family: 'Raleway', sans-serif;
    /*background-image: url( https://i.ibb.co/G5RgHqN/bosque.jpg);*/
    width: 100%;
    height: 100vh;
    position:relative;
    display: flex;
    align-items: center;
    justify-content:center;
    margin:0 auto;
    overflow: hidden;

}
.inicio img{
    display: block;
    margin:auto;
    z-index: 1;
    position:relative;
    height:100%;
    width:100%;
    object-fit: cover;

}
.capa{
    position:absolute;
    z-index: 2;
    height:100%;
    width: 100vw;
    background:linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75));
}
.mensa{
    /*position:absolute;*/
    z-index: 3;
    display: flex;
    color:#FCFCFC;
    /*max-width: 1500px;*/
    height:100vh;
    width: 100%;
    flex-direction: column;
    margin: auto;
    /*columns:#fff;*/
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;*/
    margin:0px auto;
    align-items: center;
    justify-content:center;
    
}
.bienvenida{
    border:3px solid #FCFCFC;
    padding:10px 25px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.mensa h1{
    font-size: 50px;
    text-align: center;
}
.mensa h1 span{
    color:#a10411;
}
.mensa p{
    font-size: 20px;
}
.subrayado{
    height:4px;
    width: 40em;
    background-color: #a10411;
    margin-left: 44%;

}