<div class="inicio">
  <div class="container">
    <h2>Contacto</h2>
    <div class="subrayado"></div>
    <form action="https://formsubmit.co/df.ramirezz@gmail.com" method="POST" class="formulario" >
      
        <label for="text" class="form-label">Nombre</label>
        <input type="text" name="name" required placeholder="Nombre completo" class="form-control">

        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" placeholder="correo electronico" required class="form-control">

        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea name="message" id="mensaje" type="mensaje" class="form-control"></textarea>

        <button type="submit" class="btn">Enviar</button>

    </form>
  </div>
</div>
