<div class="inicio">
  <div class="container">
    <h2>Contacto</h2>
    <div class="subrayado"></div>
    <form class="formulario" action="#">
      <div class="">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="nombre" class="form-control">

      </div>
      <div class="">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control">
      </div>
      <div class="">
        <label for="asunto" class="form-label">Asunto</label>
        <input type="asunto" class="form-control">
      </div>
      <div class="">
        <label for="mensaje" class="form-label">Mensaje</label>
        <input type="mensaje" class="form-control">
      </div>
      <div class="">
        <button type="submit" class="btn">Enviar</button>
      </div>
    </form>
  </div>
</div>