@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin:0;
    padding: 0;
}

.inicio{
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    height:100vh;
    background:#080e20;
}
.tarjeta{
    margin:0px auto;
}
.subrayado{
    height:4px;
    width: 18em;
    background-color: #a10411;
    margin: auto;
    margin-bottom: 15px;
}
.inicio h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
}
.inicio h5{
    color: #fff;
    font-size: 20px;
}
.inicio h6{

    color: rgb(141, 141, 141);
    font-size: 20px;
}
