<div class="container-fluid vh-100">
  <div class="tarjeta">
        <h2 id="titulo">Educacion</h2>
        <div class="subrayado"></div>  
        <div class="info">
          <ul class="lista"*ngFor="let educacion of educaciones">
            <li><h4>{{educacion.institucion}}</h4></li>
              <h5>{{educacion.titulo}}</h5>
              <p>{{educacion.estado}} - {{educacion.fechaIniEdu}}/{{educacion.fechaFinEdu}}</p>
              <div class="btncontrol" *ngIf="isLogged">
                <a
                  routerLink="/modificarEducacion/{{educacion.idEdu}}"
                  class="btnm"
                  ><i class="fa fa-pencil"></i></a>
                <a
                  (click)="onEliminarEducacion(educacion.idEdu)"
                  class="btnd"
                ><i class="fa fa-times"></i></a>
              </div>
            
          </ul>
        </div>
        <button 
        type="button"
        class="boton"
        routerLink="/nuevaEducacion"
        *ngIf="isLogged"
        >Añadir educacion</button> 
  </div>
</div>
