<div class="inicio" > 
  <h2>Educacion</h2>
  <div class="subrayado"></div>

  <br>
  <div class="row m-2 tarjeta" *ngFor="let educacion of educaciones">  
  
    <div class="col-lg-10">

        <h5 class="titulo2">{{educacion.titulo}}</h5>
        <h6 class="parrafo"><span>{{educacion.institucion}} </span>- {{educacion.estado}} - {{educacion.fechaIniEdu}} / {{educacion.fechaFinEdu}}</h6>
        
      </div>
      <div class="col-lg-2 ">
        <a
          routerLink="/modificarEducacion/{{educacion.idEdu}}"
          class="btn text-muted bg-dark tooltips p-1"
          ><i class="fa fa-pencil"></i></a>
        <a
          (click)="onEliminarEducacion(educacion.idEdu)"
          class="btn text-dark bg-danger tooltips p-1 ps-2 pe-2"
          ><i class="fa fa-times"></i></a>
      </div>
    </div>
    <br>
    <button 
    type="button"
    class="boton"
    routerLink="/nuevaEducacion"
    >
    Añadir educacion
    </button>
    
</div>


