<div class="container" *ngIf="edu">
    <div class="row">
        <div>
            <form (ngSubmit)="onModificarEducacion()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="instituto">Nombre de la institucion</label> 
                    <input 
                    type="text" 
                    class="form-control" 
                    id="instituto" 
                    name="instituto" 
                    [(ngModel)]="edu.institucion" required=""
                    >
                </div>
                <div class="form-group">
                    <label for="estado">Estado</label> 
                    <input 
                    type="text" 
                    class="form-control" 
                    id="estado" 
                    name="estado" 
                    [(ngModel)]="edu.estado" required="">
                </div>
                <div class="form-group">
                    <label for="fechaIniEdu">Fecha de inicio</label> 
                    <input 
                    type="text" 
                    class="form-control" 
                    id="fechaIniEdu" 
                    name="fechaIniEdu" 
                    [(ngModel)]="edu.fechaIniEdu" required="">
                </div>
                <div class="form-group">
                    <label for="fechaFinEdu">Fecha de finalizacion</label> 
                    <input 
                    type="text" 
                    class="form-control" 
                    id="fechaFinEdu" 
                    name="fechaFinEdu" 
                    [(ngModel)]="edu.fechaFinEdu" required="">
                </div>
                <div class="form-group">
                    <label for="titutlo">Titulo</label> 
                    <input 
                    type="text" 
                    class="form-control" 
                    id="titutlo" 
                    name="titutlo" 
                    [(ngModel)]="edu.titulo" required="">
                </div>
                <button class="boton">
                    Modificar Educacion
                </button>
            </form>
        </div>
    </div>
</div>

