<div class="vista">
  <nav class="navbar">

    <!--marca-->
    <div class="logos">
      <img src="../../../assets/img/APLogo-20-20.png" alt="" width="100">
      <img src="../../../assets/img/LogosInti.png" alt="" width="100">
    </div>

    <!--menu-->
      <ul class="menu">
        <li><a class="active" href="#">Sobre mi</a></li>
        <li><a class="active" href="#">Estudios</a></li>
        <li><a class="active" href="#">Experiencia</a></li>
        <li><a class="active" href="#">Skills</a></li>
        <li><a class="active" href="#">Contacto</a></li>
        <li><a class="active" href="#">Log in</a></li>
      </ul>
  </nav>
</div>