<nav class="navbar navbar-expand-sm navbar-dark bg-black fixed-top">
    <div class="container-fluid"> 
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/APLogo-20-20.png" alt="" width="100">
        <img src="../../../assets/img/LogosInti.png" alt="" width="100">
      </a>
      
      <button class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toogle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#sobreMi">Sobre mi</a></li>
          <li class="nav-item"><a class="nav-link" href="#estudios">Estudios</a></li>
          <li class="nav-item"><a class="nav-link" href="#experencia">Experiencia</a></li>
          <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
          <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Log in</a></li>
        </ul>

      </div>

    </div>
  </nav>