@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.logos img{
    width:100px;
    margin:0;
    padding:0;
}
.vista {
    width:100vw;
    /*height: ;*/
    background-color: #080e20;
    color: #FCFCFC;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    
    display: flex; 
    justify-content: space-between;   
    background-color: #010C13;
    color:#FCFCFC;
    padding: 0;
}

.menu{
    display: flex;
    width:50%;
    justify-content: space-around;
    
}

.menu li {
    margin-top: 8px;
    list-style: none;
}

.menu a {
    color: #FCFCFC; 
    text-decoration: none; 
    padding:3px 10px  
}
.menu a:hover{
    background-color:#a10411;
    color: #010C13;
    transition: ease-in-out .3s;
}
.menu .active {
    
    color: #FCFCFC;
}

.login{
    color: #FCFCFC;
    padding: 5px 20px;
    background-color: #a10411;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 2em;;

    
}
.login:hover{
    background-color:#ffffff;
    color: #a10411;
    transition: ease-in-out .3s;
}



