<div class="container-fluid">
  <div class="tarjeta">
    <h2 id="titulo">Experiencia Laboral</h2>
    <div class="subrayado"></div> 
    <div class="info">
      <ul class="lista"*ngFor="let experiencia of experiencias">
        <li><h4>{{ experiencia.nombreEmpresa }}</h4></li>
          <h5>{{ experiencia.puesto }}</h5>
          <p>{{ experiencia.fechaIniExp }} - {{ experiencia.fechaFinExp }}</p>
          <p>{{ experiencia.referencia }} - {{ experiencia.contacto }}</p>
          <div class="btncontrol" *ngIf="isLogged">
            <a
              routerLink="/modificarExperiencia/{{ experiencia.idExp }}"
              class="btnm"
              ><i class="fa fa-pencil"></i></a>
            <a
              (click)="onEliminarExperiencia(experiencia.idExp)"
              class="btnd"
            ><i class="fa fa-times"></i></a>
          </div>
      </ul>      
    </div>
    <button 
        type="button"
        class="boton"
        routerLink="/nuevaExperiencia"
        *ngIf="isLogged"
        >Añadir experiencia</button> 
  </div>
</div>
