<div class="container tarjeta p-4">
    <div class="row">
      <div class="col-12">
        <div class="titulo3">
          <h4 id="experencia">Experiencia </h4>
        </div>
        <br>
        <div>
          <h5 class="titulo2">TELECOM ARGENTINA S.A.</h5>
          <h6 class="parrafo">Tecnico Instalador revisador - 2008 / actualidad - Ref Sergio Blejer (Supervisor) - cel 3515328460</h6>
          <br>

          <h5 class="titulo2">MINISTERIO DE EDUCACION</h5>
          <h6 class="parrafo">Administrador de Red - 2013 / 2018 -Ipet N70 -Ref. Oscar Navarro (Director) -cel 3515947029</h6>
          <br>

          <h5 class="titulo2">MINISTERIO DE EDUCACION</h5>
          <h6 class="parrafo">Profesor Interino en Informatica - 2016 / 2017 - Plan Mas por vos - Ref. Julio del Pino (Inspector General) - cel 3516456454</h6>
          <br>

          <h5 class="titulo2">DIRECCION DE ENERGIAS RENOVABLES Y COMUNICACION </h5>
          <h6 class="parrafo">Tecnico en Telecomunicaciones - 2010 - Dakar Argentina - Ref. Ing. Victor Moyano - cel 3515941202</h6>
          <br>

        </div>
      </div>

    </div>
  </div>
  <br>
  <br>