<div class="container-fluid vh-100">
  <div class="tarjeta">
    <div class="row">
      <h2 id="titulo">Habilidades</h2>
      <div class="subrayado"></div>
    </div>
    <div class="row m-2" *ngFor="let skills of skillss">
      <h3 style="color:#fff;">
        {{ skills.habilidad }}
        <a
          routerLink="/modificarSkills/{{skills.idSki}}"
          class="btn text-muted bg-dark tooltips p-1"
          ><i class="fa fa-pencil"></i
        ></a>
        <a
          (click)="onEliminarSkills(skills.idSki)"
          class="btn text-dark bg-danger tooltips p-1 ps-2 pe-2"
          ><i class="fa fa-times"></i
        ></a>
      </h3>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width:{{ skills.nivel }}%"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          {{ skills.nivel }}%
        </div>
  </div>  
</div>
<button type="button" class="boton" routerLink="/nuevaSkills">
  Añadir habilidades
</button>
  </div>
</div>


<!-- <div class="inicio">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Habilidades</h2>
        <div class="subrayado"></div>

        <div class="tarjeta" *ngFor="let skills of skillss">
          <h3>
            {{ skills.habilidad }}
            <a
              routerLink="/modificarSkills/{{skills.idSki}}"
              class="btn text-muted bg-dark tooltips p-1"
              ><i class="fa fa-pencil"></i
            ></a>
            <a
              (click)="onEliminarSkills(skills.idSki)"
              class="btn text-dark bg-danger tooltips p-1 ps-2 pe-2"
              ><i class="fa fa-times"></i
            ></a>
          </h3>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width:{{ skills.nivel }}%"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ skills.nivel }}%
            </div>
          </div>
        </div>

        <button type="button" class="boton" routerLink="/nuevaSkills">
          Añadir habilidades
        </button>
      </div>
    </div>
  </div>
</div>
 -->

