<div class="min-vh-100 container-fuild">
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <div class="mensaje">
                <div class="container w-auto">
                    <h5>Dime quien eres y te mostrare el</h5>
                    <span>cambio</span>
                </div>
            </div>
        </div>  
        <div class="col-md-12 col-lg-8">
            <div class="login">
                <h5>caca</h5>
            </div>
        </div> 
    </div>
</div>