<div class="min-vh-100 container-fuild">
    <div class="tarjeta">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="mensaje">
                    <div class="centrar">    
                        <p>dime quien eres y te mostrare el                    
                        <span>cambio</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="login">
                    <div class="centrar">
                        usuario
                        contrasena
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>