<div class="conteiner-fluid">
    <div class="row">
        <div class="col">
            <img src="../../../assets/img/slider2.jpg" 
            class="d-block w-100 imgFondo" 
            alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="conteiner-fluid">
                <img src="../../../assets/img/presentacion.jpg" 
                class="rounded-circle" 
                id="imgRedonda" 
                alt="">
            </div>
    
        </div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                  <div class="col-12 p-4">
                    <h1 class="titulo">Hola!! Soy Diego Fernando Ramirez</h1>
                    <h4 class="titulo2">y te invito a que conozcas mi portafolio digital.</h4>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-12 tarjeta p-4">
                    <div class="titulo3">
                      <h4 id="sobreMi">Acerca mi </h4>
                    </div>
                    <br>
                    <div >
                      <h6 class="parrafo">Tengo 33 años y soy oriundo de Cordoba capital, Argentina. Actualmente estoy Cambiando mi propio paradigma eh reinventandome priorizando, por sobre todo, trabajar de lo que realmente me apasiona que es el desarrollo de software.
              
                        Soy una persona abierta al dialogo, carismatica, proactiva y con mucha empatia. Si bien mi perfil es bastante tecnico, hoy estoy incursionando en habilidades blandas.
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<br>
<br>