<div class="container-fluid vh-100" *ngIf="persona">
  <div class="row">
    <div class="col-md-4">
      <div class="perfil">
        <div class="imgRedonda">
          <img [src]="persona.url_foto" alt="" />
        </div>
        <div class="sub"></div>
        <div class="titulo">
          <h1>sobre mi</h1>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="texto">
        <h4>{{ persona.sobre_mi }}</h4>
        <div class="btncontrol" *ngIf="isLogged">
          <a
            routerLink="/modificarAcercade/{{ persona.id }}"
            class="btnm"
            ><i class="fa fa-pencil"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="inicio" *ngIf="persona">
  <div class="row">
    <div class="col-sm-5 contenedor">
      <div class="imagen">
        <figure>
          <img [src]="persona.url_foto" class="img-fluid">
          <div class="capa">
            <h4>datos personales</h4>
            <br>
            <h5>fecha de nacimiento: {{persona.fechaNac}}</h5>
            <br>
            <h5>domicilio: {{persona.domicilio}}</h5>
            <br>
            <h5>telefono: {{persona.telefono}}</h5>
            <br>
            <h5>mail: {{persona.correo}}</h5>
          </div>
      </figure>
      </div>     
    </div>
    <div class="col-xl-7 info">
      <h2>Sobre mi</h2>
      <div class="subrayado"></div>
      <p>
        {{persona.sobre_mi}}
        <!--Tengo 33 años y soy oriundo de Cordoba capital, Argentina. Actualmente estoy Cambiando mi propio paradigma eh reinventandome priorizando, por sobre todo, trabajar de lo que realmente me apasiona que es el desarrollo de software.
        Soy una persona abierta al dialogo, carismatica, proactiva y con mucha empatia. Si bien mi perfil es bastante tecnico, hoy estoy incursionando en habilidades blandas.</p>
       
      </div>

  </div>

</div>
 -->
