<div class="inicio">
  <div class="info-content">
          <h1>Hola! Soy <span>Diego Fernando Ramirez</span></h1>
          <p>Y te invito a que me conozcas.</p>
  </div>
  <div class="contenedor">
    <figure>     
      <img src="../../../assets/img/grande.jpg">
      <div class="acerca">
        <p>Tengo 33 años y soy oriundo de Cordoba capital, Argentina. Actualmente estoy Cambiando mi propio paradigma eh reinventandome priorizando, por sobre todo, trabajar de lo que realmente me apasiona que es el desarrollo de software.
           Soy una persona abierta al dialogo, carismatica, proactiva y con mucha empatia. Si bien mi perfil es bastante tecnico, hoy estoy incursionando en habilidades blandas.</p>
      </div>
    </figure> 
  </div>
</div>

