*{
    margin:0;
    padding: 0;
}

.inicio{
    background-color:#38040E;
    width: 100%;
    height: 45vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.info-content{
    margin-left: 10%;
}
h1 {
    font-size: 3em;
    color:#FCFCFC;
}
span {
    color:#a10411;
}
p {
    color:#FCFCFC;
}
.contenedor{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.contenedor figure{
    margin:0 auto;
    position:relative;
    max-width: 50%;
    overflow:hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px
    rgba(0,0,0,0.50);
    cursor: pointer;    
}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition:all 500ms ease-out
}
.contenedor figure .acerca{
    
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    transition:all 500ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .acerca{
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .acerca p{
    color:black;
    font-size: 400;
    margin-top:70px;
    margin-bottom: 15px;  
    transition:all 500ms ease-in-out;
    line-height:3;
}

.contenedor figure .acerca p{
    color:black;

}

