@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin:0;
    padding: 0;
}

.inicio{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height:100vh;
}
.info{
    background-color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 3%;
    }
#sobremi{
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;

}
.subrayado{
    text-align: center;
    height:4px;
    width: 15em;
    background-color: #080e20;
    margin-left: 0;
    margin-bottom: 15px;
}
.imagen{
    z-index: 1;
    display: flex;
    margin:5%;
    border:4px solid #080e20;
    padding: 5%;
    justify-content:center;
    text-align:center;
    align-items: center;
    cursor: pointer;
    position: relative;
 
}
.capa{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.349);


}
.capa:hover {
    visibility: visible; 
    opacity: 1;
}
.capa h4{
    font-size: 40px;
}
.capa h5{
    font-size: 20px;
}







